<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='img/rehan_fav.ico') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
       <div class="container">
            <div class="container2" >
              <form action="/admin" method="post" style="padding-top:10px">

                <label for="aid">Enter Admin ID</label>
                <input type="text" id="aid" name="aid" required>

                <label for="apass">Enter Admin Password</label>
                <input type="password" id="apass" name="apass" required>

                <button type="submit" class="w3-button w3-black">Submit</button>

              </form>
                <div align="right"><p>Back To Dashboard</p>
                <a href="/"><button type="submit" class="w3-button w3-black">Exit</button></a>
                </div>

            </div>
       </div>
</body>
</html>
