<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ url_for('static', filename='img/rehan_fav.ico') }}">
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
    <div class="container">
            <div class="containerleft">
              <form action="/view" method="post" style="padding-top:22px">

                <label for="spu_id">Enter Your Registration ID</label>
                <input type="password" id="spu_id" name="spu_id" required>
                <button type="submit" class="w3-button w3-black">Submit</button>
                  <hr>
                <table id="customers">
                      <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>PHONE</th>
                      </tr>
                    {% for user in details %}
                    <tr>
                        <td>{{user[0]}}</td>
                        <td>{{user[1]}}</td>
                        <td>{{user[2]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
              </form>
                <p>Back To Dashboard</p>
                <a href="/"><button type="submit" class="w3-button w3-black">Logout</button></a>
            </div>
             <div class="containerright ">
                <img src="{{ url_for('static', filename='img/add3.jpg') }}" alt="add3" width="400" height="300">
                <img src="{{ url_for('static', filename='img/add4.jpg') }}" alt="add4" width="400" height="300">
            </div>
        </div>
</body>
</html>
